# Manipulating Fundamentals
1.To add new elements to  the end of the list 2.To reverse elemts in the list 3.To display the same list of elements multiple times. 4.To concatenate two list 5. To sort the elements in the list in ascending order.

In [1]:
# 1.To add new elements to  the end of the list
lst = [7,18,20]
lst.append(28)
lst

[7, 18, 20, 28]

In [3]:
#2.To reverse elemts in the list
lst = [17,99,65]
lst.reverse()
lst

[65, 99, 17]

In [10]:
#3.To display the same list of elements multiple times.
x=[5]
y=[x] * 4
y

[[5], [5], [5], [5]]

In [11]:
#4.To concatenate two list
list_1 = [1, 'a']
list_2 = [3, 4, 5]

list_joined = list_1 + list_2
print(list_joined)

[1, 'a', 3, 4, 5]

In [13]:
#5. To sort the elements in the list in ascending order.
numbers = [1, 3, 4, 2]
# Sorting list of Integers in ascending
numbers.sort()
print(numbers)

[1, 2, 3, 4]

# write a python program to do in tuples
1.Manipulating using tuples. 2.To add new elments to the end of the tuple. 3.To reverse elements in the list. 
4.To display the elements of the same tuple multiple times. 5.To concatenate two tuples
6.To sort the elements in the list in ascending order.

In [14]:
#1.Manipulating using tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [25]:
# 2.To add new elments to the end of the tuple.
t = (1,2,3,4,5)
t= t + (6,7)
t

(1, 2, 3, 4, 5, 6, 7)

In [27]:
#3.To reverse elements in the list. 
a = (1, 2, 3)
reverse_tuple = tuple(reversed(a))
print(reverse_tuple)

(3, 2, 1)

In [28]:
#4.To display the elements of the same tuple multiple times.
a = [['x', 'y'] for _ in range(3)]
a[0][0] = 'n'
a

[['n', 'y'], ['x', 'y'], ['x', 'y']]

In [30]:
#5.To concatenate two tuples
tuple1 = ('USA', 'United Kingdom', 'Brazil')
tuple2 = ('Chicago', 'Los Angeles')
tuple3 = tuple(tuple1 + tuple2)
print(tuple3)

('USA', 'United Kingdom', 'Brazil', 'Chicago', 'Los Angeles')

In [31]:
#6.To sort the elements in the list in ascending order.
myListofTuple = [(1,2), (3,5), (6,3), (2, 3)];
myListofTuple.sort(key=lambda tup: tup[0])
print(myListofTuple);

[(1, 2), (2, 3), (3, 5), (6, 3)]

# Write a python to implement the following using list
1.create a list with integers(minimum 10 numbers) 
2.How to display the last number in list 
3.Command for displaying the values from the list[0:4]
4.Command for displaying the values from the list[2:]
5.Command for displaying the values from the lisr[:6]

In [32]:
#1.create a list with integers(minimum 10 numbers) 
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#2.How to display the last number in list
l = [i for i in range(10)]
l.pop()

9

In [34]:
#3.Command for displaying the values from the list[0:4]
l = [i for i in range(10)]
l[0:4]

[0, 1, 2, 3]

In [35]:
#4.Command for displaying the values from the list[2:]
l = [i for i in range(10)]
l[2:]

[2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
#5.Command for displaying the values from the lisr[:6]
l = [i for i in range(10)]
l[:6]

[0, 1, 2, 3, 4, 5]

# Write a python program : tuple1 = (10,50,20,40,30)
   1.TO display the elements 10 and 50 from tuple 1
   2.To display the length of tuple1
   3. To find minimum element from tuple 1
   4. To add all elements in tuple1
   5. To display the same tuple 1 multiple times

In [50]:
# 1.TO display the elements 10 and 50 from tuple 1
tuple1 = (10,50,20,40,30)
tuple1[:2]

(10, 50)

In [38]:
#2.To display the length of tuple1
tuple1 = (10,50,20,40,30)
print(len(tuple1))

5

In [39]:
# 3. To find minimum element from tuple 1
tuple1 = [10,50,20,40,30]  
print("Smallest element is:", min(tuple1))

Smallest element is: 10

In [41]:
# 4. To add all elements in tuple1
tuple1 = [10,50,20,40,30] 
Sum = sum(tuple1)  
print(Sum)

150

In [46]:
#   5. To display the same tuple 1 multiple times
tuple1 =[[10,50,20,40,30],]*4
tuple1

[[10, 50, 20, 40, 30],
 [10, 50, 20, 40, 30],
 [10, 50, 20, 40, 30],
 [10, 50, 20, 40, 30]]

# Write a python program :
1.To calculate the length of a string
2.To reverse words in a string
3.To display the same string multiple times
4.To concatenate two strings
5.Str1="South India",using string slicing to display "India"

In [51]:
#1.To calculate the length of a string
str = "ramya"
print(len(str))

5

In [59]:
#To reverse words in a string
txt = "Hello World"[::-1]
print(txt)

dlroW olleH

In [60]:
#3.To display the same string multiple times
for i in range(3):
    print('I never want to grow up!')

I never want to grow up!
I never want to grow up!
I never want to grow up!

In [65]:
#4.To concatenate two string
s1 = 'Apple'
s2 = 'Pie'
s3 = 'Sauce'

s4 = s1 + s2 + s3

print(s4)

ApplePieSauce

In [74]:
#5.Str1="South India",using string slicing to display "India"
str1 = "South India"
print(str1[5:])

 India

# Perform the following
1.creating the dictionary
2.Accessing values and keys in dictionary
3.Updating the dictionary using a function
4.Clear and delete the dictionary values

In [70]:
#1.creating the dictionary
my_information = {'name': 'Dionysia', 'age': 28, 'location': 'Athens'}

print(my_information)

{'name': 'Dionysia', 'age': 28, 'location': 'Athens'}

In [76]:
#2.Accessing values and keys in dictionary
dic ={"geeks": "A","for":"B","geeks":"C"}

value = {i for i in dic if dic[i]=="B"}
print("key by value:",value)

key by value: {'for'}

In [ ]:
# 3.Updating the dictionary using a function
Dictionary1 = {'A': 'Geeks', 'B': 'For', }
Dictionary2 = {'B': 'Geeks'}
print("Original Dictionary:")
print(Dictionary1)
Dictionary1.update(Dictionary2)
print("Dictionary after updation:")
print(Dictionary1)

In [78]:
#4.Clear and delete the dictionary values
d = {'k1': 1, 'k2': 2, 'k3': 3}

d.clear()
print(d)

{}

# Python program to insert a number to any position in a list

In [79]:
def NumToPositon(Num,Position):                     # defining a function
    list=[12,52,85,65,84,216,15,5,255,6,824,51,4,5]
    list[Position-1]=Num                            # indexing position and assigning given number
    return list
NumToPositon(5000,3)

[12, 52, 5000, 65, 84, 216, 15, 5, 255, 6, 824, 51, 4, 5]

# Python program to delete an element from a list by index

In [82]:
a=[1,2,3,4,5]
a.pop(-1)

5

# Write a program to display a number from 1 to 100

In [83]:
i = 1
while i <= 100:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# Write a python program to find the sum of all items in a tuple

In [84]:
numTuple = (20, 40, 65, 75, 80, 220)
print("Tuple Items = ", numTuple)

tupleSum = sum(numTuple)
print("\nThe Sum of numTuple Tuple Items = ", tupleSum)

Tuple Items =  (20, 40, 65, 75, 80, 220)

The Sum of numTuple Tuple Items =  500

# Write a python program to find the first N prime numbers

In [86]:
Number = int(input(" Please Enter any Number: "))
 
print("Prime numbers between", 1, "and", Number, "are:")
 
for num in range(1, Number + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

 Please Enter any Number: 7
Prime numbers between 1 and 7 are:
2
3
5
7

# Write the python code that calculates the salary of an employee.Prompt the user to enter the basic salary,HRA,TA and DA.Add these components to calculate the gross salary.Also deduct 10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary.

In [90]:
basic_salary=int(input("Enter the basic salary:"))
da=0.4*basic_salary;
hra=0.2*basic_salary;
gross_salary=basic_salary+da+hra;
print("Gross Salary = ",gross_salary)

Enter the basic salary:15000
Gross Salary =  24000.0

# Write a python program to search for a string in the given list.

In [91]:
l1 = ['A', 'B', 'C', 'D', 'A', 'A', 'C']

# string in the list
if 'A' in l1:
    print('A is present in the list')

# string not in the list
if 'X' not in l1:
    print('X is not present in the list')

A is present in the list
X is not present in the list

# Write a python function that accepts a string and calculates the number of upper case letters and lower case letters

In [92]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test(' Brown Fox')

Original String :   Brown Fox
No. of Upper case characters :  2
No. of Lower case Characters :  6

# Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [94]:
sum_odd = 0
sum_even = 0

# Loop through numbers from 12 to 37
for num in range(12, 38):
    # Check if the number is odd or even
    if num % 2 == 0:
        # If even, add it to the sum_even
        sum_even += num
    else:
        # If odd, add it to the sum_odd
        sum_odd += num

# Display the sums
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# Write a python program to print the table of any number

In [95]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 10
The Multiplication Table of:  10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Write a python program to sum the first 10 prime numbers

In [96]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

count = 0
sum_of_primes = 0
number = 2

while count < 10:
    if is_prime(number):
        sum_of_primes += number
        count += 1
    number += 1

print(f"The sum of the first 10 prime numbers is: {sum_of_primes}")

The sum of the first 10 prime numbers is: 129

# Write a python program to implement arithmetic operations using nested if statement

In [97]:
# Get two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Get the desired operation from the user
operation = input("Enter an arithmetic operation (+, -, *, /): ")

# Perform the selected operation
if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 2
Enter the second number: 5
Enter an arithmetic operation (+, -, *, /): +
Result: 7.0

# Write a python program to take the temperature in celsius and convert it to a fahrenheit

In [99]:
# Input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Display the result
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 76
76.0 degrees Celsius is equal to 168.8 degrees Fahrenheit

# Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [100]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

# Write a program in python to print out the number of seconds in 30 day month 30 days,24hours in a day,60 minutes per day,60 seconds in a minute

In [101]:
# Define constants
days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

# Calculate the number of seconds
seconds_in_30_days = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute

# Display the result
print(f"The number of seconds in 30 days is: {seconds_in_30_days}")

The number of seconds in 30 days is: 2592000

# Write a program in python to print out the number of seconds in a year

In [102]:
# Constants for the number of days, hours, minutes, and seconds
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

# Calculate the total number of seconds in a year
total_seconds = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

# Display the result
print(f"The number of seconds in a year (assuming 365 days) is: {total_seconds} seconds")

The number of seconds in a year (assuming 365 days) is: 31536000 seconds

# A high speed train can travel at an average speed of 150mph, how long will it take a train travelling at this speed to travel from london to glasgow which is 414 miles away?

In [103]:
# Define the distance in miles and the average speed in mph
distance = 414
speed = 150

# Calculate the time in hours
time_hours = distance / speed

# Convert hours to hours and minutes
hours = int(time_hours)
minutes = (time_hours - hours) * 60

# Print the result
print(f"It will take approximately {hours} hours and {minutes:.2f} minutes to travel from London to Glasgow.")

It will take approximately 2 hours and 45.60 minutes to travel from London to Glasgow.

# Write a python program that defines a variables called days_in_each_school_year and assign 192 to the variable.The program should then print out the total hours that you spend in school from year 7 to year 11 if each day you spend 6 hours in school days_in_each_school_year = 192

In [104]:
# Define the variable days_in_each_school_year
days_in_each_school_year = 192

# Years 7 to 11
years = range(7, 12)

# Calculate the total hours spent in school
total_hours = sum(year * days_in_each_school_year * 6 for year in years)

# Display the result
print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 51840 hours

# If the age of Ram,sam and khan are input through the keyboard,write a python program to determine the eldest and youngest of the three

In [105]:
# Input ages of Ram, Sam, and Khan
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Determine the eldest and youngest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"

# Print the results
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 47
Enter Sam's age: 18
Enter Khan's age: 28
The eldest among Ram, Sam, and Khan is: Ram
The youngest among Ram, Sam, and Khan is: Sam

# Write a python program to rotate a list by right n times with and without slicing technique

In [106]:
#with slicing 
def rotate_list_using_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list
    
    n %= len(input_list)  # Ensure n is within the length of the list
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_using_slicing(my_list, n)
print("Rotated list using slicing technique:", rotated_list)

Enter the number of times to rotate to the right: 5
Rotated list using slicing technique: [1, 2, 3, 4, 5]

In [107]:
#without slicing
def rotate_list_without_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list
    
    n %= len(input_list)  # Ensure n is within the length of the list
    for _ in range(n):
        temp = input_list.pop()
        input_list.insert(0, temp)
    return input_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_without_slicing(my_list, n)
print("Rotated list without slicing technique:", rotated_list)

Enter the number of times to rotate to the right: 7
Rotated list without slicing technique: [4, 5, 1, 2, 3]

# Python program to print the pattern given below
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [109]:
# Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

# Function to calculate binomial coefficients
def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)

# Loop to print the pattern
for i in range(n):
    for j in range(i + 1):
        print(binomial_coefficient(i, j), end=" ")
    print()

Enter the number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

#2.
*
* *
* * *
* * * *
* * * * *

In [110]:
n = 5  # Number of rows

# Outer loop for rows
for i in range(n):
    # Inner loop for columns
    for j in range(i + 1):
        print("*", end=" ")
    print()  # Move to the next line after each row

*
* *
* * *
* * * *
* * * * *

# 3. 
         *
        * *
        * * *
        * * * *
        * * * * *
        * * * * * *
        * * * * * * *

In [111]:
# Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

# Loop to print the pattern
for i in range(1, n + 1):
    print(" " * (n - i), end="")  # Print spaces before asterisks
    print("* " * i)  # Print asterisks with a space in between

Enter the number of rows: 7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# 4.
    P
    Py
    Pyt
    Pyth
    Pytho
    Python

In [113]:
# Input the string
input_string = input("Enter a string: ")

# Loop to print the pattern
for i in range(1, len(input_string) + 1):
    print(input_string[:i])

Enter a string: Python
P
Py
Pyt
Pyth
Pytho
Python

# Create a directory containing three lambda functions square,cube and square root.
1. E.g.dict={'square':function for squaring,'cube':function for cube,'squareroot':function for square root}
2.Pass the values(input from the user) to the functions in the directory respectively.
3.Then add the outputsof each function and print it.

In [114]:
# Define the dictionary with lambda functions
func_dict = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'Squareroot': lambda x: x**0.5
}

# Get user input for a number
num = float(input("Enter a number: "))

# Initialize a variable to store the sum of outputs
result = 0

# Iterate through the functions in the dictionary, apply them, and add to the result
for func_name, func in func_dict.items():
    output = func(num)
    result += output

# Print the sum of outputs
print("Sum of outputs:", result)

Enter a number: 5
Sum of outputs: 152.2360679774998

# A list of words is given. Find the words from the list that have their second character in uppercase. ['hello', 'Dear', 'how', 'ARe', 'You']

In [115]:
word_list = ['hello', 'Dear', 'how', 'ARe', 'You']
result = []

for word in word_list:
    if len(word) > 1 and word[1].isupper():
        result.append(word)

print(result)

['ARe']

# A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth GMoon) / GEarth  #Weight of people in kg WeightOnEarth = ('John':45, 'Shelly':65, 'Marry':35)

# Gravitational force on the Moon: 1.622 m/s2 GMoon 1.622

# Gravitational force on the Earth: 9.81 m/s2 GEarth = 9.81

In [118]:
# Given data
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81

# Calculate weight on the Moon using map and lambda
WeightOnMoon = map(lambda weight: (weight * GMoon) / GEarth, WeightOnEarth.values())

# Create a dictionary with names and their weights on the Moon
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

# Display the results
print("Weight on the Moon:")
for name, weight in WeightOnMoonDict.items():
    print(f"{name}: {weight} kg")

Weight on the Moon:
John: 7.440366972477065 kg
Shelly: 10.747196738022426 kg
Marry: 5.786952089704383 kg